<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
						http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd">
                        
    <bean id="userService" class="com.example.server.service.UserServiceImpl">
    	<property name="userDao" ref="userDao" />
    </bean>  
    
    <bean id="itemService" class="com.example.server.service.ItemServiceImpl">
    	<property name="itemDao" ref="itemDao" />
    </bean>                  
                        
    <bean id="userDao" class="com.example.server.dao.UserDaoImpl" />  
    <bean id="itemDao" class="com.example.server.dao.ItemDaoImpl" />                  
</beans>