<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        					http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>GWT Demo App</display-name>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<!-- CONTEXT PARAMS -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/com.example.Application/logging</url-pattern>
	</servlet-mapping>

	<!-- SERVLET MAPPINGS -->

	<!-- WELCOME FILE -->
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>
</web-app>